<section class="bg-light py-5 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="ot-heading left-align">
          <h6 class="text-primary"><span>We get results</span></h6>
          <h2 class="main-heading text-uppercase">About E-bug</h2>
        </div>
        <p class="lead text-muted">
          Data breach and unethical hacking news are nowadays grabbing
          headlines. Our security researchers are always looking to find new
          bugs and errors that can slip past developers and security teams,
          later leading to these problems. We are here to keep you out of these
          headlines and help you grow your business and continue your path in a
          secure digital world.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="assets\about.png"
          class="img-fluid rounded"
          alt="E-bug Image"
        />
      </div>
    </div>
  </div>
</section>

<section class="container-fluid p-10 mt-5">
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="\assets\hello1.jpg" class="img-fluid" alt="E-bug Logo" />
    </div>
    <div class="col-md-6">
      <div class="ot-heading left-align">
        <h6><span>E-bug</span></h6>
        <h2 class="main-heading">What is E-bug ?</h2>
      </div>
      <p>
        E-bug is the vulnerability coordination and bug bounty platform that
        connects businesses with penetration testers and cybersecurity
        researchers. Bugv is founded with the vision to improve the security
        infrastructures in the country. We partner with the global hacker
        community to surface the most relevant security issues of our customers
        before they get exploited by others.
      </p>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <h5 class="card-title">Easy Reporting</h5>
          <p class="card-text">
            We make reporting easy with researchers just needing to fill out
            findings.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-4">
          <h5 class="card-title">Bug Finding</h5>
          <p class="card-text">
            Our security researchers find the bugs while you fix them.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-4">
          <h5 class="card-title">Process Perfection</h5>
          <p class="card-text">
            We're driven to becoming the best version of ourselves.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
