<div
  class="container mt-5 bg-light align-items-center container py-5 h-100 --bs-info-bg-subtle col-12 col-md-8 col-lg-6 col-xl-5"
>
  <h2><p class="text-center">Change Your Password</p></h2>
  <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter the email"
        [(ngModel)]="data.email"
        required
      />
    </div>

    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control"
        placeholder="Enter the new password:"
        [(ngModel)]="data.newPassword"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
