<div class="container mt-5 p-card p-shadow-4 bg-light align-items-center container py-5 h-100 col-12 col-md-8 col-lg-6 col-xl-5">
  <h2>Change Your Password</h2>
  <form (ngSubmit)="onSubmit()" class="d-flex flex-column">

    <div class="form-group">
      <label for="email" class="float-left">Email: </label>
      <input pInputText type="email" class="p-inputtext-lg form-control" #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
        name="email"
        [(ngModel)]="data.email"
        placeholder="Enter your email"
        required />
      <small
        [class.d-none]="email.valid || email.untouched"
        class="text-danger"
      >Email is required</small>
    </div>

    <div class="form-group">
      <label for="password" class="float-left">Password:
      <p-password type="password" #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        id="password"
        name="password"
        [(ngModel)]="data.newPassword"
        class="form-control"
        placeholder="Enter your password"
        required [toggleMask]="true"></p-password>
      <small
        [class.d-none]="password.valid || password.untouched"
        class="text-danger"
      >Password is required</small>
      </label>
    </div>
<br>
    <div class="d-flex justify-content-end">
      <button type="submit" pButton class="btn btn-primary">Change Password</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
