
  .stat-box {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* White text color */
  }

 
  .testimonial-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.testimonial-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.testimonial-text {
    margin-bottom: 20px;
}

  
  