<section class="bg-light py-5 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="col-12 text-center text-primary fs-5">
          <h2 class="main-heading text-uppercase">E-bug</h2>
        </div>
        <p class="lead text-muted">
          Data breach and unethical hacking news are nowadays grabbing headlines. Our security researchers are always looking to find new bugs and errors that can slip past developers and security teams, later leading to these problems. We are here to keep you out of these headlines and help you grow your business and continue your path in a secure digital world.
        </p>
        <div class="btn-container text-center mb-10">
          <a class="btn btn-primary animated-btn" (click)="navigateToBugForm()">Bug Submiting Form</a>
         
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets\dashboard.png" class="img-fluid rounded" alt="E-bug Image">
      </div>
    </div>
  </div>
</section>

  <section class="section-cards mt-5">
    <div class="container">
       <h1 class="display-4">Explore Our Services</h1>
    <p class="lead">Discover a range of bug reporting and analytics services tailored for your needs.</p>
      <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets\card2.jpeg" alt="">
            <div class="card-body">
              <h4 class="card-title">Automated Bug Reporting </h4>
              <h6 class="card-subtitle mb-2 text-muted">Reporting Service</h6>
              <p class="card-text">E-bug's Automated Bug Reporting Service streamlines the bug reporting. This service ensures that each bug report contains detailed steps to reproduce, environment information, and relevant attachments, reducing the manual effort. </p>
              <div class="btn-container text-center mb-10">
                <a routerLink="/login" class="btn btn-primary animated-btn ">Try Demo</a>
                
              </div>
              
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets\card2.jpeg" alt="">
            <div class="card-body">
              <h4 class="card-title">Collaborative Bug Triage</h4>
              <h6 class="card-subtitle mb-2 text-muted"> Assignment</h6>
              <p class="card-text">E-bug's Collaborative Bug Triage and Assignment service facilitates seamless communication and collaboration among team members during the bug resolution process. This service allows teams to triage bugs effectively, assign them to the appropriate team members.</p>
              <div class="btn-container text-center mb-10">
                <a routerLink="/login" class="btn btn-primary animated-btn ">Try Demo</a>
                
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets\images.jpeg" alt="">
            <div class="card-body">
              <h4 class="card-title">Customizable Bug Analytics</h4>
              <h6 class="card-subtitle mb-2 text-muted">Reporting</h6>
              <p class="card-text">E-bug's Customizable Bug Analytics and Reporting service provides teams with powerful insights into bug patterns, trends, and resolution times. Users can create customized reports and dashboards to analyze bug data based on various parameters and values.</p>
              <div class="btn-container text-center mb-10">
                <a routerLink="/login" class="btn btn-primary animated-btn ">Try Demo</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid stat-section  bg-primary ">
    <div class="row ">
  
     
      <div class="col-md-4">
        <div class="stat-box mt-5">
          <i class="pi pi-lock stat-icon"></i>
          <h5>1,000</h5>
          <p>GLOBAL BRANDS USE HACKERONE</p>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="stat-box mt-5">
          <i class="pi pi-calendar stat-icon"></i>
          <h5>1,000,000+</h5>
          <p>ETHICAL HACKERS AT THE READY</p>
        </div>
      </div>
  
     
      <div class="col-md-4">
        <div class="stat-box mt-5">
          <i class="pi pi-check-circle stat-icon"></i>
          <h5>294,000+</h5>
          <p>VALID VULNERABILITIES RESOLVED TO DATE</p>
        </div>
      </div>
  
    </div>
  </section>

<section class="testimonial">
  <div class="container testimonial-section mt-1 mb-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card testimonial-card bg-primary">
                <div class="testimonial-text text-white">
                    "E-Bug has greatly improved our bug tracking process. The platform is intuitive, and the support team is exceptional. I highly recommend E-Bug for efficient bug management."
                </div>
                <div class="star-rating text-warning p-2 rounded">
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
              </div>
                <div class="testimonial-author mt-3">
                    - John Doe, Software Developer
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card testimonial-card bg-primary">
                <div class="testimonial-text text-white">
                    "Our team loves using E-Bug for bug tracking and collaboration. The customizable analytics and reporting tools provide valuable insights, helping us streamline our development process."
                </div>
                <div class="star-rating text-warning p-2 rounded">
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
              </div>
                <div class="testimonial-author mt-3">
                    - Jane Smith, Project Manager
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card testimonial-card bg-primary">
                <div class="testimonial-text text-white">
                    "E-Bug's collaborative bug triage and assignment service have been instrumental in our bug resolution process. The platform's is user-friendly interface make it a valuable for our team."
                </div>
                <div class="star-rating text-warning p-2 rounded">
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
                  <span class="pi pi-star"></span>
              </div>
                <div class="testimonial-author mt-3">
                    - Robert Johnson, QA Engineer
                </div>
            </div>
        </div>
    </div>
</div>

</section>